*{
	font-family: 'Poppins', sans-serif;}

body{
	background-color: #FCFCFC;}

#header{
	width:100%;
	height:auto;
	z-index:1000;
	margin-bottom:10px;
	background-color: transparent; }

.title{
	position:relative;
	font-family: 'Poppins', sans-serif;
	font-size: 3.3vw;
	color:#BFC8E2;
	text-align:center;
	margin-left:0%;
	margin:auto;
	margin-bottom: auto;
	display: block;}

#navigation{
	position: relative;
	margin-left:auto;
	margin-top:auto;
	margin-right:auto;}

#navigation>li{
	display: inline-block;
	list-style:none;
	position: relative;
	margin-left:20%;
	font-size:1.1vw;
	text-decoration: none;}

a{ 
	text-decoration: none;
	color:#353F5B;}

 a:hover{
 	color:#AA4465;}

.dropdown{
	position:relative;}

.drop-nav{
	position: absolute;
	display:none;}

.drop-nav li{
	position: relative;
	border-bottom:1px solid #DBDBDB;
	background-color: white;
	width:100%;
	padding:10px;
	list-style: none;
	z-index: 100;
	top:2px;}

.dropdown:hover>.drop-nav{
	display: block;}

#headimage{
	position:relative;
	max-width:85%;
	text-align:center;
	height:auto;
	top:3%;
	left:7%;}

#headimage> img{
	position:relative;
	max-width:100%;
	height:auto;
	margin-left:auto;
	z-index: -100;
	opacity:1;}

#blogposts{
	width:100%;}


#image1, #image2, #image3{ 
	position:relative;
	left:7%;
	max-width:22%;
	height:auto;
	margin:3%;
	margin-top:0;}

#pic1, #pic2, #pic3{
	display: inline;
	position:relative;
	width:100%;
	height:100px;}

.button{
	background-color: transparent;
	position: absolute;
	text-decoration: none;
	font-family:'Poppins', sans-serif;
	color:#BFC8E2;
	top:13%;
	left:63%;
	padding:.5% 1%;
	border:1px solid #BFC8E2; 
	border-radius: 10%;
	font-size: 1.1vw;}

.button:hover{
	color:#353F5B;
	border:1px solid #353F5B;}




