<!DOCTYPE html>
<html>
<head>
	<title>CONTACT</title>
	<link rel="stylesheet" type="text/css" href="../stylesheet/contact.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div id="header">
		<div class="title">aleksandra sajdera</div>
			<ul id="navigation">
					<li><a href="../index.html">home</a></li>
					<li class="dropdown">
					<a href="#">blog posts</a>
						<ul class="drop-nav">
							<li><a href="instagram.html">instagram</a></li>
							<li><a href="weirdtaste.html">weird taste</a></li>
							<li><a href="fastfashion.html">fast fashion</a></li>
						</ul>
					</li>
					<li><a href="contact.html">contact</a></li>
			</ul>
	</div>

	<div id="contact-form">
		<h1>contact</h1>
		<form class="contactform" method="post" action="">
			<input name="name" type="text" class="form" placeholder="Name*" required><br />
			<input name="email" type="text" class="form" placeholder="E-Mail*" required><br />	
			<textarea name="message" class="form" placeholder="Message*" rows="6"required></textarea><br />
			<button name="submit" type="submit" id="submit">submit</button>
		</form>
	</div>	

</body>
</html>