<!DOCTYPE html>
<html>
<head>
	<title>INSTAGRAM</title>
	<link rel="stylesheet" type="text/css" href="../stylesheet/instagram.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div id="header">
		<div class="title">aleksandra sajdera</div>
			<ul id="navigation">
					<li><a href="../index.html">home</a></li>
					<li class="dropdown">
					<a href="#">blog posts</a>
						<ul class="drop-nav">
							<li><a href="instagram.html">instagram</a></li>
							<li><a href="weirdtaste.html">weird taste</a></li>
							<li><a href="fastfashion.html">fast fashion</a></li>
						</ul>
					</li>
					<li><a href="contact.html">contact</a></li>
			</ul>
	</div>

<div id="headimage">
	<img src="../images/followers.png" alt="Instagram Like Counter">
</div>

<div id="headline">
	<h1>how instagram changed the fashion world</h1>
	<h2>instagram models</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sollicitudin aliquam ultrices sagittis orci a scelerisque purus semper. Ipsum a arcu cursus vitae congue. Nisl tincidunt eget nullam non nisi est. Velit aliquet sagittis id consectetur purus ut faucibus pulvinar elementum. Ornare suspendisse sed nisi lacus sed viverra tellus. Sed blandit libero volutpat sed cras ornare arcu. Eget magna fermentum iaculis eu non diam. Varius vel pharetra vel turpis nunc eget lorem. Mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa. Vitae suscipit tellus mauris a diam. Lorem dolor sed viverra ipsum nunc aliquet bibendum enim. Odio pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus. Varius quam quisque id diam vel quam.

	Sapien et ligula ullamcorper malesuada proin libero nunc consequat. Id diam maecenas ultricies mi eget. Sit amet nisl suscipit adipiscing bibendum est ultricies integer. Facilisi morbi tempus iaculis urna id volutpat lacus laoreet. Tempus urna et pharetra pharetra massa massa ultricies mi. Scelerisque felis imperdiet proin fermentum leo. Viverra adipiscing at in tellus integer feugiat. Sit amet nulla facilisi morbi. Nisi vitae suscipit tellus mauris. Tincidunt nunc pulvinar sapien et ligula. Etiam tempor orci eu lobortis elementum nibh tellus molestie. Phasellus vestibulum lorem sed risus ultricies tristique. Metus vulputate eu scelerisque felis. Praesent tristique magna sit amet purus gravida quis blandit turpis. Egestas congue quisque egestas diam. Duis tristique sollicitudin nibh sit. Ultrices mi tempus imperdiet nulla malesuada pellentesque elit. Elementum sagittis vitae et leo duis ut diam quam nulla.

	Cras adipiscing enim eu turpis egestas. Ultricies leo integer malesuada nunc vel risus. At tempor commodo ullamcorper a lacus. Sit amet dictum sit amet justo donec. Interdum varius sit amet mattis vulputate enim nulla aliquet. Vel fringilla est ullamcorper eget nulla facilisi etiam dignissim. Facilisis magna etiam tempor orci eu lobortis elementum nibh. Egestas tellus rutrum tellus pellentesque eu. Velit euismod in pellentesque massa placerat duis ultricies lacus sed. Ut enim blandit volutpat maecenas volutpat blandit aliquam etiam. Diam donec adipiscing tristique risus nec feugiat in fermentum. Arcu odio ut sem nulla pharetra diam. Pulvinar pellentesque habitant morbi tristique senectus et netus. Sed enim ut sem viverra aliquet eget sit amet. Interdum velit laoreet id donec ultrices.</p>
</div>

<h1>most followed models on instagram</h1>	

<div id="flexbox">
	<div id="pic1">
	<h3>kendall jenner</h3>
	<a href="https://www.instagram.com/kendalljenner/?hl=en" target="blank" id="image1"><img src="../images/kendall.jpg" alt="Kendall Jenner Instagram"></a>
	</div>

	<div id="pic2">
	<h3>gigi hadid</h3>
	<a href="https://www.instagram.com/gigihadid/?hl=en" target="blank" id="image2"><img src="../images/gigi.jpg" alt="Gigi Hadid Instagram"></a>
	</div>

	<div id="pic3">
	<h3>bella hadid</h3>
	<a href="https://www.instagram.com/bellahadid/?hl=en" target="blank" id="image3"><img src="../images/bella.jpg" alt="Bella Hadid Instagram"></a>
	</div>

	<div id="pic4">
	<h3>emily ratajkowski</h3>
	<a href="https://www.instagram.com/emrata/?hl=en" target="blank" id="image4"><img src="../images/emrata.jpg" alt="Emily Ratajkowski Instagram"></a>
	</div>
</div>

<div id="text">
	<h2>transforming fashion shows</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sollicitudin aliquam ultrices sagittis orci a scelerisque purus semper. Ipsum a arcu cursus vitae congue. Nisl tincidunt eget nullam non nisi est. Velit aliquet sagittis id consectetur purus ut faucibus pulvinar elementum. Ornare suspendisse sed nisi lacus sed viverra tellus. Sed blandit libero volutpat sed cras ornare arcu. Eget magna fermentum iaculis eu non diam. Varius vel pharetra vel turpis nunc eget lorem. Mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa. Vitae suscipit tellus mauris a diam. Lorem dolor sed viverra ipsum nunc aliquet bibendum enim. Odio pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus. Varius quam quisque id diam vel quam.</p>

	<img class="runway" src="../images/fashionshow.png" alt="Audience Taking Photos During Fashion Show">

	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sollicitudin aliquam ultrices sagittis orci a scelerisque purus semper. Ipsum a arcu cursus vitae congue. Nisl tincidunt eget nullam non nisi est. Velit aliquet sagittis id consectetur purus ut faucibus pulvinar elementum. Ornare suspendisse sed nisi lacus sed viverra tellus. Sed blandit libero volutpat sed cras ornare arcu. Eget magna fermentum iaculis eu non diam. Varius vel pharetra vel turpis nunc eget lorem. Mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa. Vitae suscipit tellus mauris a diam. Lorem dolor sed viverra ipsum nunc aliquet bibendum enim. Odio pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus. Varius quam quisque id diam vel quam.</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sollicitudin aliquam ultrices sagittis orci a scelerisque purus semper. Ipsum a arcu cursus vitae congue. Nisl tincidunt eget nullam non nisi est. Velit aliquet sagittis id consectetur purus ut faucibus pulvinar elementum. Ornare suspendisse sed nisi lacus sed viverra tellus. Sed blandit libero volutpat sed cras ornare arcu. Eget magna fermentum iaculis eu non diam. Varius vel pharetra vel turpis nunc eget lorem. Mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa. Vitae suscipit tellus mauris a diam. Lorem dolor sed viverra ipsum nunc aliquet bibendum enim. Odio pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus. Varius quam quisque id diam vel quam. <br><br>-October 2018</p>
</div>

<br>
<br>
</body>
</html>
